<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="face-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                face
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="face-link">
                <a href="{% url 'products' %}?category=cleansers" class="dropdown-item">cleansers</a>
                <a href="{% url 'products' %}?category=toners" class="dropdown-item">toners</a>
                <a href="{% url 'products' %}?category=exfoliants" class="dropdown-item">exfoliants and masks</a>
                <a href="{% url 'products' %}?category=face_treatments" class="dropdown-item">face treatments</a>
                <a href="{% url 'products' %}?category=moisturisers" class="dropdown-item">moisturisers</a>
                <a href="{% url 'products' %}?category=misc_face" class="dropdown-item">other</a>
                <a href="{% url 'products' %}?category=skincare_sets" class="dropdown-item">skincare sets</a>
                <a href="{% url 'products' %}?category=cleansers,toners,exfoliants,face_treatments,moisturisers,misc_face,skincare_sets" class="dropdown-item">all face products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="body-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                body
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="body-link">
                <a href="{% url 'products' %}?category=body_wash" class="dropdown-item">body wash</a>
                <a href="{% url 'products' %}?category=body_scrubs" class="dropdown-item">body scrubs</a>
                <a href="{% url 'products' %}?category=body_lotions" class="dropdown-item">body lotions</a>
                <a href="{% url 'products' %}?category=body_wash,body_scrubs,body_lotions" class="dropdown-item">all body products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="hair-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                hair
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="hair-link">
                <a href="{% url 'products' %}?category=shampoo" class="dropdown-item">shampoo</a>
                <a href="{% url 'products' %}?category=conditioner" class="dropdown-item">conditioner</a>
                <a href="{% url 'products' %}?category=hair_treatments" class="dropdown-item">hair treatments</a>
                <a href="{% url 'products' %}?category=shampoo,conditioner,hair_treatments" class="dropdown-item">all hair products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                all products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">by price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">by rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">by category</a>
                <a href="{% url 'products' %}" class="dropdown-item">all products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="{% url 'faqs' %}" id="faqs-link">
                faqs
            </a>
        </li>
        <li class="nav-item dropdown"></li>
            <a class="font-weight-bold nav-link text-black mr-5" href="{% url 'blog' %}" id="blog-link">
                blog
            </a>
        </li>
    </ul>
</div>