{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 offset-1 col-md-8 offset-md-2 text-center mt-3">
                <h1 class="text-black">{{ post.main_title }}</h1>
                <h2 class="text-muted mt-4">{{ post.sub_title }}</h2>
                <h6 class="text-muted mb-5">Posted {{ post.date }}</h6>
                <p class="text-left">{{ post.post_content }}</p>
                {% if request.user.is_superuser %}
                    <p class="my-auto">
                        <a class="btn btn-link mt-5" href="{% url 'edit_blog_post' post.id %}">Edit</a> 
                        <a class="btn btn-link text-danger mt-5" href="{% url 'delete_blog_post' post.id %}">Delete</a>
                        <a href="{% url 'blog' %}" class="btn btn-link text-black mt-5">
                            <span>All Posts</span>
                        </a>
                    </p>
                {% else %}
                    <a href="{% url 'blog' %}" class="btn btn-link border border-black rounded-pill text-black mt-5">
                        <span>all posts</span>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="row">
        </div>
    </div>
{% endblock %}