{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="text-black">{% if posts %}learn how to revitalise{% else %}page coming soon...{% endif %}</h2>
            </div>
        </div>
        <div class="row">
            {% if posts %}
                <div class="blog-container col-12 col-lg-6 offset-lg-3">
                    <div class="row">
                        {% for post in posts %}
                            <div class="col-12 mt-3 mt-md-5">
                                <div class="card border-black text-center">
                                    <div class="card-body">
                                        <h4 class="card-title text-black my-3">{{ post.main_title }}</h4>
                                        <h6 class="card-subtitle mb-2 mb-3 text-muted">{{ post.sub_title }}</h6>
                                        <h6 class="card-subtitle mb-2">Posted {{ post.date }}</h6>
                                        <a href="{% url 'blog_post_detail' post.id %}" class="card-link">View Post</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super}}
    <script type="text/javascript">
        $('.btt-link').click(function(e){
            window.scrollTo(0,0)
        })
    </script>
{% endblock %}