{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 offset-1 col-md-8 offset-md-2 text-center mt-3">
                <h1 class="text-black">{{ post.main_title }}</h1>
                <h2 class="text-muted mt-4">{{ post.sub_title }}</h2>
                <h6 class="text-muted mb-5">Posted {{ post.date }}</h6>
                <p class="text-left">{{ post.post_content }}</p>
                <a href="{% url 'blog' %}" class="btn btn-outline-black rounded-pill mt-5">
                    <span>all posts</span>
                </a>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
{% endblock %}